@charset "UTF-8";
:root{
    --cor1:#A6CCF4;
    --cor2:#0296A3;
    --cor3:#2C4E73;
    --cor4:rgb(7, 112, 34); 
    --cor5:#02C5D6;
    --cor6:#150EE6;
    --cor7:#ABF9FB;
    --cor-08:#07afbe50;

    --font-padrao:Arial,Verdana,Helvetica,sans-serif;
    --font-destaque:'Bebas Neue',sans-serif;
    --font-h1:'Tektur', Helvetica;
    --font-p:Inter,sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
body,html{
    font: var(--font-padrao);
    min-height: 100vh;

}
header{
    background-color: black;
    text-align: center;
    color: white;
}
header h1{
    padding-top: 50px;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}

 a{
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 35px;
}

section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: black;
    color: white;
}
section.imagem > p{
    background-color: rgba(56, 56, 56, 0.432);
    width: 400px;
}


footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 12px;  
}