@charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
    @font-face{
    font-family: idroid;
    src: url(..fontes/idroid.otf) format(opentype) ;
    font-weight: normal; 
}

:root{
    --cor1:#A6CCF4;
    --cor2:#0296A3;
    --cor3:#2C4E73;
    --cor4:rgb(7, 112, 34); 
    --cor5:#02C5D6;
    --cor6:#150EE6;
    --cor7:#ABF9FB;
    --cor-08:#07afbe50;

    --font-padrao:Arial,Verdana,Helvetica,sans-serif;
    --font-destaque:'Bebas Neue',sans-serif;
    --font-android: idroid;
    --font-h1:'Tektur', Helvetica;
    --font-p:Inter,sans-serif;

}

*{
    margin: 0%;
    padding: 0%;
}


body{
    background-color: var(--cor7);
    font-family: var(--font-padrao)
    
}
header{
    background-image:linear-gradient(to bottom,var(--cor5),var(--cor2));
    min-height:160px;
    text-align: center;
    padding: 20px;
    text-shadow: 3px 5px 7px  rgba(0, 0, 0, 0.5);
}
header > p{
    color: white;
    font: var(--font-padrao);
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}
header > h1{
    font-family: var(--font-padrao);
    color: white;
    font-size: 70px;
    text-shadow: 3px 5px 7px  rgba(0, 0, 0, 0.5);
    font-weight: normal;
   
}
nav{
    background-color: var(--cor2);
    padding: 10px;
  
    
}
.w3rcontainer{
    border: 1px solid #cccfdb;
    border-radius: 2px
}
nav  a{
    
    text-decoration: none;
    padding: 10px;
    text-shadow: 3px 5px 7px  rgba(0, 0, 0, 0.5);
    color: white;
    font:var(--font-destaque);
    font-weight: bold;
    border-radius: 4px;
    position: relative;
    display: inline-block;
   

    
   
}
nav > a:hover{
    
    color: #0D4547;   
    
}
nav > a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom:5px;
    left: 0;
    background-color: #feffff9c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  
}
nav > a:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav >a:active{
    background-color:#30666b9c;
    color: #051c1d;
    
}
.externo::after{
    content: '\1F517';
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 2px 17px 1px rgba(0, 0, 0, 0.466);
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
   
}
main  h1{
    color: #014B5C;
    font-family: var(--font-android);
    font-size: 1.9em;
    padding: 10px;
    min-width: 550px;
    font-weight: normal
    ;
    
   
   
}
main h2{
    font-family: var(--font-android);
    color: #014B5C;
    padding: 3px;
    background-image:linear-gradient(to right,var(--cor-08),transparent);
    font-weight: normal;
    font-size: 1.6em;
}
main p{
    font:var(--font-p);
    font-weight: 500;
    text-align: justify;
    margin: 15px 0px;
    line-height: 2em;
    font-size: 1.1em;
}
main strong{
    color: #004347;
    font-weight: bolder;
 
}
abbr{
    text-decoration: none;
}
main a{
    text-decoration: none;
    background-image:linear-gradient(to left,#4fc2cc50,#639fa59f);
    padding: 2px;
    border-radius: 2px;
    color:#003B07 ;
    transition: transform .2s;
    font-weight: bolder;
    display: inline-block;

}
main a:hover{
    text-decoration: underline;
    color: #013111;
   transform:scale(.9) ;

}

main img{
    width: 100%;
   
}
main img.pq{
    max-width: 350px;
    display: block;
    margin: auto;

}
div.video{
    
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
    margin: 0px -20px 30px -20px;
    
}
div.video > iframe {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;

}

aside{
    background-color: var(--cor1);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 1px 10px 2px rgb(0 0 0 / 64%);

   
}
aside h3{
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px 10px 0px 0px ;
    color: white;
    font:var(--font-p);
    font-weight: bolder;
    font-size: 1.5em;  
}
aside p{
    padding: 6px;
    text-indent: 12px;
    text-align: justify;
    font: var(--font-p);
    font-size: 1.2em;
    line-height: 1.5em;
}
aside > ul{
    list-style-position: inside;
    columns: 2;
    margin-left: 10px;
    list-style-type: '\2705\00A0';
}
footer{
    background-color: var(--cor4);
    text-align: center;
    padding: 10px 0px 5px 0px;
    color: white;
    font: var(--font-p);
    font-weight: bold;
    font-size: 1.2em;
}
